@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import "tailwindcss";

@theme {
  --color-canary: oklch(92.04% 0.1687 105.99);
  --color-background-light: oklch(100% 0 0);
  --color-background-dark: oklch(14.48% 0 0);
  --color-foreground-light: oklch(94.61% 0 0);
  --color-foreground-dark: oklch(20.46% 0 0);
  --font-gabarito: "Gabarito", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Gabarito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

